rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAuthenticated() {
      return request.auth != null;
    }

    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }

    function hasUserDoc() {
      return exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }

    function isApproved() {
      return isAuthenticated() && hasUserDoc() && 
        (getUserData().status == 'user' || getUserData().status == 'admin');
    }

    function isAdmin() {
      return isAuthenticated() && hasUserDoc() && 
        getUserData().status == 'admin';
    }

    match /users/{userId} {
      allow read: if request.auth != null && (request.auth.uid == userId || isAdmin());
      allow write: if request.auth != null && request.auth.uid == userId; 
      allow write: if isAdmin();
    }

    match /{document=**} {
      allow read, write: if isApproved() || isAdmin();
    }
  }
}